**/*.so
**/*.a
**/*.o
**/.*
**/tags
**/__pycache__
**/*.pyc
**/test.py
!.gitignore
sphinx/_**
build*.sh
!build.sh
fish_3d/env
test/project/**
!test/project/video_1
!test/project/calib_ext

extern/voro++/bin
extern/voro++/include
extern/voro++/lib
extern/voro++/src/voro++
